@font-face {
	font-family: 'Muller';
	font-style: normal;
	font-weight: 700;
	src: local(''),
		  url('../fonts/MullerBold.woff2') format('woff2'), /* Super Modern Browsers */
		  url('../fonts/MullerBold.woff') format('woff'), /* Modern Browsers */
 }

 @font-face {
	font-family: 'Muller';
	font-style: normal;
	font-weight: 300;
	src: local(''),
		  url('../fonts/MullerLight.woff2') format('woff2'), /* Super Modern Browsers */
		  url('../fonts/MullerLight.woff') format('woff'), /* Modern Browsers */
 }

 @font-face {
	font-family: 'Muller';
	font-style: normal;
	font-weight: 500;
	src: local(''),
		  url('../fonts/MullerMedium.woff2') format('woff2'), /* Super Modern Browsers */
		  url('../fonts/MullerMedium.woff') format('woff'), /* Modern Browsers */
 }

 @font-face {
	font-family: 'Muller';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		  url('../fonts/MullerRegular.woff2') format('woff2'), /* Super Modern Browsers */
		  url('../fonts/MullerRegular.woff') format('woff'), /* Modern Browsers */
 }

 

*{
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color:  #CC9933;

}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
img{
	max-width: 100%;
}
.container{
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

html{
	font-family: 'Muller',sans-serif;
	font-style: normal;
	font-weight: 400;
}

body{
	margin: 0;
	background-color: #E5E5E5;
	overflow: scroll;
}

section{
	margin-top: 70px;
}

h2{
	margin: 0;
	font-family: 'Muller';
	font-style: normal;
	font-weight: 400;
	padding-left: 40px;
	font-size: 40px;
	line-height: 40px;
	color: #333333;

}

p{
	margin: 0;
}

/* HEADER */

.header-header-block{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 114px;
}
.header-header-block-left{
	display: flex;
	align-items: center;
}
.header-contacts-link{
	display: inline-block;
	font-weight: 500;
	font-size: 20px;
	line-height: 1;
	color: #666666;
}

.logo{
	display: block;
	margin-right: 40px;
}
.header-header-block-right{
	display: flex;
	align-items: center;
}
.header-lk-icon{
	display: inline-block;
	margin-right: 7px;
	background-image: url('../img/vector.png');
	transform: translateY(-1px);
	width: 21px;
	height: 12px;

}
.header-lk-link{
	display: block;
	text-align: right;
}


/* Навигация */
.nav-container{
	background-color: #fff;
	border-radius: 15px;
	display: flex;
}
.nav-list{
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 45px;
	padding-right: 56px;
	border-right: 1px solid #E1E1E1;
}
.nav-item{
	flex:1 1 33.33%;
	white-space:nowrap;
	margin:auto;
	font-size: 16px;
	line-height: 1;
}

.nav-item:not(:last-child){
	margin-right: 45px;	
}

.nav-link{
	color: #666666;
}

.nav-line{
	display: flex;
	margin:12px 45px 12px 57px;
}
.nav-btn{
	display:block;
	padding: 13px 20px;
	border-radius:10px ;
	border: 1px solid #CC9933;
	cursor: pointer;
}


.nav-btn-left{
	margin-right:40px;
	
}

/* section-special */
.section-special{
	color: #fff;
}
.section-heading-special{
	margin-bottom: 20px;
}
.section-special-block{
	display: flex;
	
	
}
.section-special-card-maldivs{
	background: url("/img/Maldivs.jpg");
	margin-bottom: 23px;
}
.section-special-card-krit{
	background: url("/img/Krit.jpg");	
}
.section-special-right{
	background: url("/img/luxe-numer.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	background-color: transparent;
}
.section-special-product{
	white-space: nowrap;
	width: 299px;
	font-weight: 700;
	font-size: 40px;
	line-height: 40px;
}

.section-special-price{
	margin-top: 15px;
	margin-bottom: 47px;
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;
	opacity: 0.8;
}
.section-special-left{
	margin-right: 23px;
}
.section-special-right{
	padding-top: 211px;
	padding-left: 40px;
	padding-right: 234px;
	padding-bottom: 41px;
	border-radius: 15px;
}

.section-special-product_big{
	font-weight: 700;
	font-size: 60px;
	line-height: 60px;
}

.section-special-price_big{
	margin-top:15px;
	margin-bottom: 47px;
	font-size: 30px;
	line-height: 30px;
	color: #FFFFFF;
	opacity: 0.8;

}

.section-special-card{
	padding-left: 40px;
	padding-top: 39px;
	padding-bottom: 39px;
	padding-right: 234px;
	border-radius: 15px;
	
}

.section-special-price{
	margin-bottom: 47px;
}

/* section-about */
.section-about-description{
	padding-top: 11px;
	width: 75%;
	font-size: 16px;
	line-height: 200%;
}




/* section-services */
.section-heading-servise{
	margin-bottom: 20px;
}
.section-services-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.services-1{
	background-image: url("/img/services-1.png") ;
}
.services-2{
	background-image: url("/img/services-2.png");
}
.services-3{
	background-image: url("/img/services-3.png");
}
.services-4{
	background-image: url("/img/services-4.png");
}
.section-services-img{
	height: 165px;
	background-repeat: no-repeat;
	margin-bottom: 26px;
}

.section-services-item{
	width: 572px;
	border-radius: 15px;
	background-color: #fff;
}


.section-services-item-pos{
margin-bottom: 23px;	
}




.services-ident{
	margin-left: 45px;
	margin-right: 126px;
	margin-bottom: 50px;
}

.section-services-heading{
	font-weight: 500;
	font-size: 20px;
	line-height: 200%;
}

.section-services-desc{
	line-height: 200%;
}


/* section-advantag */

.section-heading{
	margin-bottom: 30px;
}

.section-advantag-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between ;
	align-content: space-between;
} 


.section-advatag-item{
	padding: 40px 42px 41px 45px;
	background-color: #fff;
	border-radius: 15px;
	line-height: 200%;		
}

.nth{
	margin-bottom: 23px;
}



.section-advantag-icon1{
	background-image: url('/img/advantag-img1.png'); 
	
}
.section-advantag-icon2{
	background-image: url('/img/advantag-img2.png'); 
	
}
.section-advantag-icon3{
	background-image: url('/img/advantag-img3.png'); 
	
}
.section-advantag-icon4{
	background-image: url('/img/advantag-img4.png'); 
	
}
.section-advantag-icon5{
	background-image: url('/img/advantag-img5.png'); 	
}
.section-advantag-icon6{
	background-image: url('/img/advantag-img6.png'); 
	
}
.section-advantag-icon7{
	background-image: url('/img/advantag-img7.png'); 
	
}.section-advantag-icon8{
	background-image: url('/img/advantag-img8.png'); 
	
}

.section-advantag-icon{
	display: block;
	height: 66px;
	margin-bottom: 10px;
	background-repeat: no-repeat;
	background-position: center left;
	background-size: auto 100%;
	background-color: transparent;
}

.section-advantag-disc{
	width: 188px;
}




/* section-location */
.section-heading{
	margin-bottom: 30px;
}
.section-hotel-img{
	display: block;
	margin-bottom: 36px;
}
.section-location-list{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: space-between;
}

.section-location-item{
	
	overflow: hidden;
	border-radius: 15px;
	margin-bottom: 20px;	
	background-color: #fff;
}

.section-hotel-price{
	margin: 36px 46px 41px 45px;
}

.section-hotel-font{
	padding-top: 4px;
	margin-right: 4px;
	color: #999999;
}

.section-price-icon{
	float: right;
}
.section-price-icon:not(:last-child){
	margin-right: 6px;
}

.section-hotel-name{
	margin-top: 16px;
	margin-bottom: 16px;
}

.section-hotel-font{
	margin-bottom: 20px;
	color: #999999;
}

.nav-btn{
	padding: 13px 20px;
	border-radius: 15px;
	background: #FFFFFF;
}


.section-hotel-bold{
	margin-right: 4px;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
}
.section-location-item-link{
	overflow: hidden;
	background: url('/img/hotel-9.jpg') center no-repeat;
	background-size: cover;
	border-radius: 15px;
	margin-bottom: 20px;
}

.section-link{
	display: block;
	padding-top: 373px;
	padding-left: 54px;
   margin-right: 69px;
	margin-bottom: 27px;
	font-style: normal;
 	font-weight: 500;
	font-size: 20px;
	line-height: 200%;
}


/* section-form */
.section-form{

}

.form{
	display:flex;
	justify-content: space-between;
	padding:28px;
	/* border:1px solid red; */
	border-radius:15px;
	background-color: #FFFFFF;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
 }
 select{
	 width: 169px;
	 /* appearance: none; */
	-webkit-appearance: none;
 }


 input{
	 width: 121px;
 }

 .section-form-item{
	padding:4px 20px 3px;
	border-right:1px solid #E1E1E1;
 }

 .section-option{
	
 }

 
 .section-form-title{
	margin-bottom:15px;
 }
 
 .tur{
	padding-right:30px;
 }
 .section-form-item-btn{
	display: flex;
	align-items:center;
	margin:auto 28px auto 20px
 }
 .form-btn{
	padding:13px 30px;
	border:1px solid #CC9933; 
	border-radius:15px;
	cursor: pointer;
	background: #FFFFFF;
	color:#CC9933;
 }
 input,select{
	border: 0;
	outline:none;
 }
 .section-number-night,.section-number-tour{
	border-bottom:1px solid #E1E1E1;
 }